<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aprendiendo VueJS</title>
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="estilos.css">
</head>
<body>

	<!-- <div class="container"> -->
		<div id="app">
			<tasks></tasks>
			<!-- <user name="Luis" last-name="Reyes"></user>
			<user name="Jorgue" last-name="Reyes"></user> -->
			<!-- <h1>Lista de tareas</h1>
			<h4 v-if="completedTasks">Tareas Completadas {{ completedTasks }}</h4>
			<h4 v-if="incompletedTasks">Tareas Incompletas {{ incompletedTasks }}</h4>
			<ul>
				<li v-for="task in tasks">
					<span v-text="task.title"></span>
					<span @click="completeTask(task)" :class="taskClasses(task)"></span>
				</li>
				<li class="form-inline">
					<input v-on:keyup.enter="addTask" v-model="newTask" type="text" class="form-control">
				</li>
			</ul> -->
		</div>
	<!-- </div> -->

	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="script.js"></script>
</body>
</html>